body{
    background-color:#2c4068;
    
}

body {
    padding: auto;
    text-align: center;
    color:ghostwhite;
}

.r-square{
    text-align: center;
    background-color: #01DD77;
    color: white;
    padding:15px 35px;
    margin-right: 20px;
    text-decoration:none;

}
.r-square:hover{
    background:#00B060 ;
}
.r-square:active{
    background: pink;
}


.c-square{
    text-align: center;
    background-color: #fd2326;
    color: white;
    padding:10px 20px;
    margin-right: 20px;
    text-decoration:none;

}
.c-square:hover{
    background:red ;
}
.c-square:active{
    background: pink;
}


.s-square{
    text-align: center;
    background-color: #0A8EDE;
    color: white;
    padding:5px 10px;
    text-decoration:none;

}
.s-square:hover{
    background: #0072C0;
}
.s-square:active{
    background: pink;
}

.r-radius{
    text-align: center;
    background-color: #F57900;
    color: white;
    padding:15px 35px;
    margin-right: 20px;
    text-decoration:none;
    border-radius: 15px;

}
.r-radius:hover{
    background:#CD6100 ;
}
.r-radius:active{
    background: pink;
}


.c-radius{
    text-align: center;
    background-color: #F5CD02;
    color: white;
    padding:10px 20px;
    margin-right: 20px;
    text-decoration:none;
    border-radius: 15px;

}
.c-radius:hover{
    background:#CAA600 ;
}
.c-radius:active{
    background: pink;
}


.s-radius{
    text-align: center;
    background-color: #7C8C93;
    color: white;
    padding: 5px 10px;
    text-decoration:none;
    border-radius: 15px;

}
.s-radius:hover{
    background: #657476;
}
.s-radius:active{
    background: pink;
}
.r-ghost-square{
    text-align: center;
    background-color: transparent;
    color: white;
    border:green 1px solid;
    padding:15px 35px;
    margin-right: 20px;
    text-decoration:none;

}
.r-ghost-square:hover{
    background:#02D372 ;
}
.r-ghost-square:active{
    background: pink;
}


.c-ghost-square{
    text-align: center;
    background-color: transparent;
    color: white;
    padding:10px 20px;
    margin-right: 20px;
    border:red 1px solid;
    text-decoration:none;

}
.c-ghost-square:hover{
    background:#E82422 ;
}
.c-ghost-square:active{
    background: pink;
}


.s-ghost-square{
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    text-decoration:none;
    border:#0C87D5 1px solid;
    

}
.s-ghost-square:hover{
    background: #0C87D5;
}
.s-ghost-square:active{
    background: pink;
}
.r-ghost-radius{
    text-align: center;
    background-color: transparent;
    color: white;
    padding:15px 35px;
    margin-right: 20px;
    text-decoration:none;
    border:#B75C01 1px solid;
    border-radius: 15px;

}
.r-ghost-radius:hover{
    background:#B75C01 ;
}
.r-ghost-radius:active{
    background: pink;
}


.c-ghost-radius{
    text-align: center;
    background-color: transparent;
    color: white;
    padding:10px 20px;
    margin-right: 20px;
    text-decoration:none;
    border:#B19604 1px solid;
    border-radius: 15px;

}
.c-ghost-radius:hover{
    background:#B19604 ;
}
.c-ghost-radius:active{
    background: pink;
}


.s-ghost-radius{
    text-align: center;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    text-decoration:none;
    border:#58656C 1px solid;
    border-radius: 15px;

}
.s-ghost-radius:hover{
    background: #58656C;
}
.s-ghost-radius:active{
    background: pink;
}