*{
    
    

}

.all {
    max-width:50%;

    margin: auto;
    
}

.box {
   border: 1px solid black;
   height: 150px;
  
   overflow:auto;
}

#box1 {
    background-color: orange;
    text-align: center;
    padding:10px;
    margin: 5px 0px;
    width:100%;
    height:40px;

}
#box2 {
    background-color: blueviolet;
    text-align: right;
    float: right;
    width: 60%;
    padding:15px 10px 400px 100px;
    margin:5px 0px;
}   

#box3 {
    background-color: green;
    text-align: left;
    float: left;
    width:38.5%;
    padding:15px 10px 400px 10px;
    margin:5px 0px 5px 0px;
    
}


#box4 {
    background-color: rgba(76, 148, 231, 0.486);
    text-align: center;
    padding:10px;
    margin: 5px 0px;
    width:100%;
    height:40px;
}

.clr{
    clear:both
}

