#outer {
width: 100px;
height: 100px;
background: darkcyan;
margin: 50px;
}
#inner {
width: 50px;
height: 50px;
background: lightgreen;
position: absolute;/*this line will not answer the request because the id="inner"
                    related to the main div parent so we shoud use "position:relative;" instead
                    like the line below */
position: relative;
top: 10px;
}